*{
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	background-image: url("BG_1.png");
}

#overlay{
	position: absolute;
	top: 69px;
	width: 1920px;
	height: 2204px;
	background-image: url("map.png");
}

.DiamondButton{
	position: absolute;
	width: 210px;
	height: 210px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	background-color: #62a2c0;
	opacity: 0;

	transition: background-color .2s, opacity .2s;
}

.DiamondButton:hover{
	background-color: #62a2c0;
	opacity: .25;
}

.CircleButton
{
	position: absolute;
	width: 265px;
	height: 265px;
	border-radius: 100%;
	background-color: #62a2c0;
	opacity: 0;

	transition: background-color .2s, opacity .2s;
}

.CircleButton:hover{
	background-color: #62a2c0;
	opacity: .25;
}

.CircleButtonSmall{
	position: absolute;
	width: 125px;
	height: 125px;
	border-radius: 100%;
	background-color: #7ef0ac;
	opacity: 0;

	transition: background-color .2s, opacity .2s;
}

.CircleButtonSmall:hover{
	background-color: #7ef0ac;
	opacity: .25;
}