*{
	margin: 0;
	padding: 0;
	border: 0;
}
#header{
	z-index: 1;
	position: relative;
	height: 3em;
	width: 100%;
	background-color: #EEEEEE;
	box-shadow: 0em 0em 1em 0 #222;
}

#nav{
	
}


#form{
	z-index: 0;
	position: relative;
	width: 30em;
	padding: 5em;
	background-color: #FF1111;
	box-shadow: 0em 0em 1em 0 #222;
}

#form > span {
	margin-right: .3em;
	padding: 1em;
	border: 4em;
	min-width: 1em;
	border-radius: 1em;
	background-color: #FFFFFF;
}

#form > span > input{
	width: 10em;
}

#form > div {
	margin-top: 1.3em;
	width: 19.2em;
	padding: 1em;
	border: 4em;
	border-radius: 1em;
	background-color: #FFFFFF;
}
